
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title></title>
	</head>
	<body>
		<div id = "shell">
			<div id="header">
				<p id="name">Грибач Богдан</p>
				<a href="mailto:you@yourdomain.com"><p id="email">bodia0@spaces.ru</p></a>
			</div>
			<div class="left"><img class = "img" src = "logo.jpg" height = "50%" width = "100%"></div>
			<div class="right">
				<h4 align = "center">Сайт-візика</h4>
		    {{> experience}}
		    {{> skill}}
				{{> education}}
		  </div>
			<div id="footer">
				<p>Грушевського 5, Тернопіль | Tel: (+38) 0982931456</p>
			</div>
		</div>
	</body>
